<main class="container">
    <div class="col-8 center">
        <div class="seperate">
            <button class="btn btn-light" (click)="navigateHome()">Back to the blogs</button>
            <button class="btn btn-danger" type="button" (click)="handleBlogDelete()">Ta bort blogg</button>
        </div>
        <div class="container">
            <h3>Blogg ID:{{blog.id}} - {{blog.title}}</h3>
            <button class="btn btn-primary" type="button" (click)="navigateCreatePost()">Nytt inlägg</button>
        </div>

        <app-post *ngFor="let p of posts" [post]="p"></app-post>
    </div>
</main>
