<main class="container">
    <div class="col-8 center">
        <div class="seperate">
            <button class="btn btn-light" type="button" (click)="backToAllPosts()">Go back to all posts</button>
        </div>
        <div *ngIf="post" class="container">
            <h5 class="fw-light text-muted">Post:</h5>
            <div class="card">
                <div class="card-body">
                    <h3>{{post.title}}</h3>
                    <p class="card-text">{{post.content}}</p>
                </div>
            </div>
            <app-comment *ngFor="let c of comments" [comment]="c"></app-comment>
        </div>
    </div>
</main>
