.blog-container {
    margin-bottom: 10px;
    padding: 3px;
    background-color:gainsboro;

    a {
        text-decoration: none;
        color:indigo;

        &:hover {
            text-decoration: underline;
            color:slateblue;
        }
    }
}